/RSI_00/.idea/
/RSI_01_2/.idea/
/RSI_01_2/out/
/RSI_cw1/.idea/
/RSI_cw1/out/
/RSI_cw1_cz2/.idea/
/RSI_cw1_cz2/ClientRPC/.idea/
/RSI_cw1_cz2/ClientRPC/out/
/RSI_cw1_cz2/ServerRPC/.idea/
/RSI_cw1_cz2/ServerRPC/out/
